// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
body {
  background-color: red;
  padding: 15px;
}
body * {
  font-family: 'Oswald'
}
h1 {
  color: #FF9999;
}
#header {
  color: black;
}
.date {
  font-size: 9px;
}
